PORT=3000
NODE_ENV=production

DATABASE_URL=postgresql://be2b_lrm_user:SUA_SENHA@172.16.1.10:5432/be2b_lrm

CORS_ORIGIN=*

UPLOAD_DIR=/app/uploads
MEDIA_PUBLIC_BASE_URL=https://api.be2b.tech
MAX_IMAGE_MB=10
MAX_PDF_MB=20
MAX_VIDEO_MB=100
